* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #020631;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainHeading {
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subHeading {
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.app h1,
h2 {
  color: white;
}

.input {
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 0.8em;
  margin-bottom: 25px;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  border-radius: 6px;
  padding: 5px;
}

.todoInput {
  width: 100%;
  height: 1.6em;
  border-color: transparent;
  outline-color: transparent;
  padding: 20px;
}

#addButton{
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}

.todos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}


.todo {
  width: 18em;
  height: 2.3em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}


#closeButton{
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.todoText{
  margin-left: 3px;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  color: rgb(65, 65, 65);
}


.todos {
  overflow-y: scroll;
}

.todos::-webkit-scrollbar {
  display: none;
}